<section class="about">
  <div class="about-photo">
   
    <img src="./picF.jpeg" alt="My Photo" />
  </div>
  <div class="about-content">
    <h2>About Me</h2>
   <p>
  I'm an Associate DevOps Engineer at <span>Biz2x</span> with experience designing automated pipelines using Jenkins, GitLab CI, and GitHub Actions.
</p>
<p>
  I have done my BTech in ECE (AI+ML) from <span>NSUT</span> . Skilled in AWS, Azure, Terraform, Docker, Kubernetes, Prometheus, and Grafana.
</p>
<p>
  I enjoy solving infrastructure challenges, improving reliability, and fostering collaboration between development and operations teams.
</p>

  </div>
</section>
