<div class="home-wrapper">
  <section class="home"> 
    <h1>Welcome! I'm Rashid Reyaz</h1>
    <p>Associate DevOps Engineer passionate about automation, CI/CD, and cloud infrastructure.</p>
    <p>I help teams streamline deployments, improve reliability, and accelerate software delivery.</p>
  </section>

  <!-- Floating logos outside .home -->
  <img class="floating-logo" src="https://www.svgrepo.com/show/353443/aws.svg" alt="AWS">
  <img class="floating-logo" src="https://www.svgrepo.com/show/376344/python.svg" alt="Python">
  <img class="floating-logo" src="https://www.svgrepo.com/show/448233/kubernetes.svg" alt="Kubernetes">
  <img class="floating-logo" src="https://www.svgrepo.com/show/373699/jenkins.svg" alt="Jenkins">
  <img class="floating-logo" src="https://www.svgrepo.com/show/439238/nodejs.svg" alt="NodeJS">
  <img class="floating-logo" src="https://www.svgrepo.com/show/448221/docker.svg" alt="Docker">
  <img class="floating-logo" src="https://www.svgrepo.com/show/374122/terraform.svg" alt="Terraform">
  <img class="floating-logo" src="https://www.svgrepo.com/show/452156/angular.svg" alt="Angular">
</div>
