<div class="home-wrapper">
  <section class="home"> 
    <h1>You write the code, I handle the rest.</h1>
    <p>Passionate about crafting automated pipelines, improving reliability, and leveraging cloud infrastructure.</p>
    
  </section>

  
  <img class="floating-logo" src="https://www.svgrepo.com/show/353443/aws.svg" alt="AWS">
  <img class="floating-logo" src="https://www.svgrepo.com/show/376344/python.svg" alt="Python">
  <img class="floating-logo" src="https://www.svgrepo.com/show/448233/kubernetes.svg" alt="Kubernetes">
  <img class="floating-logo" src="https://www.svgrepo.com/show/373699/jenkins.svg" alt="Jenkins">
  <img class="floating-logo" src="https://www.svgrepo.com/show/439238/nodejs.svg" alt="NodeJS">
  <img class="floating-logo" src="https://www.svgrepo.com/show/448221/docker.svg" alt="Docker">
  <img class="floating-logo" src="https://www.svgrepo.com/show/374122/terraform.svg" alt="Terraform">
  <img class="floating-logo" src="https://www.svgrepo.com/show/452156/angular.svg" alt="Angular">
</div>
