<section class="skills">
  <h2>Technical Skills</h2>
  <ul>
    <li>
      <img src="https://www.svgrepo.com/show/373699/jenkins.svg" alt="Jenkins" />
      <span>Jenkins</span>
    </li>
    <li>
      <img src="https://www.svgrepo.com/show/439238/nodejs.svg" alt="GitLab CI / GitHub Actions" />
      <span>NodeJS</span>
    </li>
    <li>
      <img src="https://www.svgrepo.com/show/353443/aws.svg" alt="AWS" />
      <span>AWS</span>
    </li>
    <li>
      <img src="https://www.svgrepo.com/show/448233/kubernetes.svg" alt="Kubernetes" />
      <span>Kubernetes</span>
    </li>
    <li>
      <img src="https://www.svgrepo.com/show/448221/docker.svg" alt="Docker" />
      <span>Docker</span>
    </li>
    <li>
      <img src="https://www.svgrepo.com/show/374122/terraform.svg" alt="Terraform" />
      <span>Terraform</span>
    </li>
    <li>
      <img src="https://www.svgrepo.com/show/376344/python.svg" alt="Python" />
      <span>Python</span>
    </li>
    <li>
      <img src="https://www.svgrepo.com/show/452156/angular.svg" alt="Angular" />
      <span>Angular</span>
    </li>
  </ul>
</section>
